img{
  width: 70%;
  height: auto;
  margin-top: 5%;
  margin-left: 15%;
}
ion-content{
  margin-top: 0%;
}
.content{
  background-color: white;
  width: 90%;
  height: auto;
  padding: 5%;
}
ion-list{
  height: auto;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 140%;
}
ion-card{
  padding: 10px;
  border: solid 2px rgb(240, 238, 238);
}
ion-icon{
  font-size: 14px;
}
.edit{
  background-color: #428cff;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  margin: 2%;
  font-size: 12px;
  font-weight: 600;
}
.delete{
  background-color: rgb(252, 67, 67);
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  margin: 2%;
  font-size: 12px;
  font-weight: 600;
}
h6{
  font-size: 16px;
  padding-left: 5%;
  color: black;
  margin: 0%;
  font-weight: 600;
}
.paragraph{
  padding: 5px;
  color: rgb(59, 59, 59);
  font-size: 14px;
  text-align: justify;
  font-weight: 530;
  border-top: solid 3px rgb(44, 44, 44);
}
.header{
  padding-top: 5%;
  padding-left: 5%;
  color: black;
  margin: 0%;
  font-weight: 600;
}
