<ion-header style="background-color: white;">
  <img src="../../assets/icon/banner.png">
</ion-header>

<ion-content>
  <ion-list>
    <h6>YOUR RECIPES</h6>
    <div *ngFor="let task of tasks">
      <ion-card class="content">
        <ion-label>
          <h6 class="header">{{task.title}}</h6>
        </ion-label>

      <div item-end>
        <button class="edit" [routerLink]="['/update-todo/', task]">
          <ion-icon name="create-outline"></ion-icon> Edit
        </button>
        <button class="delete" (click)="remove(task.id)">
          <ion-icon name="trash-bin-outline"></ion-icon> Delete
        </button>
      </div>

      <div class="paragraph">{{task.description}}</div>

      </ion-card>
    </div>
  </ion-list>
</ion-content>
