img{
  width: 70%;
  height: auto;
  margin-top: 5%;
  margin-left: 15%;
}
.header{
  padding-top: 5%;
  padding-left: 5%;
  color: black;
  margin: 0%;
  font-weight: 600;
}
ion-item{
  --ion-item-background: white;
  padding: 5%;
}
form{
  padding-bottom: 100%;
  background-color: white;
}
.label{
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 600;
}
.inputs{
  color: black;
  font-size: 14px;
}
