<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- For the Tabs Navigation -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/todo-list" tab="todo-list" style="background-color: #27df74;">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Recipe List</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create-recipe" tab="create-recipe" style="background-color: #27df74;">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Create Recipe</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

