<ion-header style="background-color: white;">
  <img src="../../assets/icon/banner.png">
</ion-header>

<ion-content>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="ion-padding">
    <h6 class="header">CREATE YOUR RECIPE</h6>
    <ion-item>
      <ion-label position="floating" class="label">Recipe Name</ion-label>
      <ion-input formControlName="title" type="text" required class="inputs"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="label">Instructions</ion-label>
      <ion-textarea formControlName="description" type="text" required class="inputs">
      </ion-textarea>
    </ion-item>

    <ion-button class="ion-margin-top" type="submit" expand="block" color="success">Create</ion-button>
  </form>
</ion-content>
