img{
  width: 70%;
  height: 70%;
  margin-top: 5%;
  margin-left: 15%;
}
.header{
  padding-top: 5%;
  padding-left: 5%;
  color: black;
  margin: 0%;
  font-weight: 600;
}
.ion-padding{
  background-color: white;
}
.items{
  margin-bottom: 10px;
}
form{
  padding-bottom: 110%;
  color: black;
}
ion-item{
  margin: 2%;
  --ion-item-background: white;
}
.label{
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 600;
}
.inputs{
  color: black;
  font-size: 14px;
}
